/* font for larger text */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
/* fonts for the small text */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
}

  /* mobile-version */
header {
  height: 95vh;
margin: 1em;
  }
    
  .mobile_version a{
color: #555555;
  }

  .header_text {
    padding-top: 2em;
color: #666666;
scroll-snap-type: y mandatory;
scroll-behavior: smooth;
font-family: 'Work Sans', sans-serif;
  }

  .header_text h1, .header_text h2{
    color: #ec5242;
    font: 700 bold;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
  }

  .highlight {
    font-size: smaller;
    border: 1.7px solid white;
    font-weight: lighter;
    padding: 1em;

  }

.venue_medium {
  font-size: 27px;
  font-weight: bold;
  padding: 9px 0;
}

  .venue {
    font: bold 600;
    font-size: 15px;
  }

  /* main-program */

  .main_program {
    height: 170vh;
    background-color: #272a33;
  }

  .head h2 {
    color: #fbfbfd;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 9px;
  }
  .slim {
    color: #ec5242;
    width: 30px;
    margin: 0 auto;
  }
  .slim {
    border: 1px solid;
  }

  .content {
    padding: 20px 15px;
   background-color: #3b3e45;
    margin: 12px;
    display: flex;
    color: #d6d6d6;
    height: 24vh;
    justify-content: space-evenly;
    align-items: center;
  }
  .content h3 {
    color: #ec5242;
    font-size: medium;
    font-weight: 400;
    font-family: 'Lato', sans-serif;

  }
  .content span

.content p {
  font-family: 'Work Sans', sans-serif;
  font-size: small;
text-align: justify;
}

.button {
text-align: center;
margin-top: 3em;
}
  button {
background: #ff4f38;
color: #efefef;
border: none;
height: 12vh;
padding: 20px;
font-size: medium;
  }

/* .list {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  } */

  .hide_pop {
    display: none;
  }

  /* featured speakers */
@media screen  and (max-width: 325px){
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: smaller
  }

  button {
    font-size: smaller;
  }

}
