body {
  background-color: #f7f7f7;
  margin: 0%;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
}

nav,
.header_text {
  padding: 1em;
}

.openPop {
  cursor: pointer;
  display: block;
  color: #f7f7f7;
}

.mobile_version a {
  color: #555;
}

.closeMenu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ff4f38;
}

.closeMenu a {
  color: #ff4f38;
}

.nav-list {
  display: none;
}

.nav-links {
  display: none;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 10;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #272a33;
  -webkit-transition: top 2s ease;
  transition: top 2s ease;
  list-style: none;
}

.nav-links li {
  padding: 1em;
}

.nav-links li a {
  text-decoration: none;
  color: #ec5242;
  font-size: x-large;
}

.nav-links li a :hover {
  background: none;
  color: #efefef;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  font-size: 1.6rem;
}

.list.show {
  display: -webkit-box;
  display: flex;
}

.destop-version,
.navigation .menu {
  display: none;
}

header {
  height: 100%;
  position: relative;
  width: 100%;
  top: 0%;
  left: 0%;
  background: url("https://images.unsplash.com/photo-1486611367184-17759508999c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGRyb25lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  margin-bottom: 2em;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header .header-bg {
  position: absolute;
  height: 100vh;
  z-index: -1;
  width: 100%;
}

.header_text {
  padding-top: 2em;
  color: #666;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

.header_text h1 {
  font-size: x-large;
  line-height: 2px;
}

.header_text h2 {
  font-size: larger;
  line-height: 30px;
}

.header_text h1,
.header_text h2 {
  font-weight: 600;
  text-align: center;
  color: #e93c29;
  font-family: "Lato", sans-serif;
}

.header_text .highlight {
  background-color: white;
  color: #686868;
  border: 1px solid #a3a3a3;
  font-weight: lighter;
  padding: 1em;
  font-size: small;
  line-height: 20px;
}

.header_text .contact {
  font-weight: lighter;
  padding: 1em;
  font-size: medium;
  color: #fff;
}

.header_text .email {
  text-align: center;
}

.header_text .email a {
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  color: #ec5242;
}

.header_text .email :hover {
  color: #ec5242;
}

.About-logo {
  background-color: white;
  text-align: center;
}

.About-logo h2 {
  color: #555;
  font-family: "Work Sans", sans-serif;
  font-size: x-large;
  text-align: center;
  font-weight: 500;
}

.About-logo .slim {
  width: 20px;
  margin: 0 auto;
  border: 1px solid #e03421;
}

.About-logo .event-image {
  width: 80%;
  margin: 1em 0;
}

.About-logo .logo img {
  margin: 1em 0;
  width: 300px;
  height: auto;
}

.About-logo p {
  font-size: medium;
  font-family: "Lato", sans-serif;
  color: #686868;
  padding: 2em 2em;
  font-weight: lighter;
}

.About-logo .logo-detail {
  font-size: x-large;
  font-weight: bolder;
}

.About-logo .summit {
  border: 0.7px solid #666;
  padding: 30px;
  width: 300px;
}

.About-logo .line {
  color: #a09b9b;
}

.content span,
.content p {
  font-family: "Work Sans", sans-serif;
  font-size: small;
  text-align: justify;
}

.past-activities {
  margin: 5% 0;
  margin-top: 10%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.second-activity-content,
.first-activity-content {
  padding-top: 40px;
  -ms-flex-line-pack: center;
  align-content: center;
}

.second-activity-content p,
.first-activity-content p {
  font-size: larger;
}

.activities {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.activities .first-activity-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec5242;
  opacity: 0.8;
  color: #fff;
}

.activities .first-activity-content p {
  color: #fff;
}

.activities .second-activity-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ec5242;
  opacity: 0.8;
  color: #fff;
}

.activities .second-activity-content p {
  color: #fff;
}

.activities .past-first-activity {
  width: 80%;
  min-height: 200px;
  background: url("https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvbmZlcmVuY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  position: relative;
  opacity: 0.8;
  margin: 5% 0;
}

.activities .past-second-activity {
  width: 80%;
  min-height: 200px;
  background: url("https://images.unsplash.com/photo-1540575467063-178a50c2df87?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29uZmVyZW5jZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  position: relative;
  opacity: 0.8;
  margin: 5% 0;
}

.main_program {
  height: 170vh;
  background-color: #272a33;
}

.partners .slim {
  width: 30px;
  border: 1px solid #e03421;
  margin: 0 auto;
}

.head h2 {
  color: #fbfbfd;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding-top: 35px;
  padding-bottom: 9px;
}

.head h2 .slim {
  color: #ec5242;
  width: 30px;
  margin: 0 auto;
  border: 1px solid;
}

.content {
  padding: 20px 15px;
  background-color: #3b3e45;
  margin: 12px;
  display: -webkit-box;
  display: flex;
  color: #d6d6d6;
  height: 24vh;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content h3 {
  color: #ec5242;
  font-size: medium;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.button {
  text-align: center;
  margin-top: 3em;
}

.button button {
  background: #ff4f38;
  color: #efefef;
  border: none;
  height: 12vh;
  padding: 20px;
  font-size: medium;
}

.partners {
  background: #272a31;
  text-align: center;
  color: #efefef;
}

.partners ul {
  padding: 0%;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1em 0 0 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners ul li {
  list-style: none;
  padding: 1.7em;
}

.partners ul li .fab {
  color: #666;
}

footer {
  margin: 0%;
  height: 15vh;
  background-color: white;
  color: #555;
}

footer .copyright {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .copyright .coperation {
  display: -webkit-box;
  display: flex;
}

footer .copyright .coperation img {
  width: 150px;
  padding: 30px;
}

footer .copyright .topic {
  font-weight: bolder;
  margin: 0%;
  text-align: center;
}

footer .copyright span {
  font-weight: lighter;
  font-size: medium;
}

@media screen and (min-width: 769px) {
  /* header section */
  nav,
  .header_text {
    padding: 0%;
  }

  header {
    height: 120vh;
  }

  .destop-version {
    display: block;
    background-color: #3e3e3e;
    color: #efefef;
    margin: 0%;
    padding: 0%;
    height: 3vh;
    width: 100vw;
  }

  .icon_list {
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: absolute;
    left: 60%;
    padding: 0%;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }

  .icon_list li {
    padding: 0 1.5em;
    font-size: smaller;
    font-weight: lighter;
  }

  /* second navigation */

  .navigation {
    background-color: white;
    margin: 0%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 70%;
    grid-template-columns: 30% 70%;
    width: 100vw;
    font-size: larger;
    font-weight: 600;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
  }

  .right-nav {
    margin: 0 auto;
  }

  .main-logo {
    padding-left: 2em;
  }

  .main-logo img {
    width: 300px;
    height: 50px;
    align-self: center;
  }

  .summit {
    color: red;
    background-color: white;
    text-align: center;
    margin: 0%;
    height: 50px;
    border: 1px solid #ec5242;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 0%;
  }

  .summit :hover {
    color: #3e3e3e;
    background: #ff4f38;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border: none;
  }

  .nav-list {
    display: -webkit-box;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0%;
  }

  .nav-list li {
    padding: 0 2em;
  }

  .nav-list li a {
    text-decoration: none;
    color: #555;
  }

  .nav-list li a :hover {
    color: #ec5242;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  .header_text {
    padding: 8em;
    height: 80vh;
    width: 100vw;
  }

  .header_text h1 {
    font-size: 40px;
    font-weight: 100;
    padding: 0.3em;
    text-align: center;
  }

  .header_text h2 {
    font-size: 40px;
    font-weight: 700;
    padding: 0.4em 0;
    line-height: 45px;
  }

  .header_text .highlight {
    padding: 1em;
    font-size: large;
    text-align: center;
    line-height: 22px;
  }

  .header_text .contact {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
  }

  .header_text .email a {
    font-size: x-large;
    font-weight: 700;
    word-spacing: 5px;
  }

  .large span {
    font-size: xx-large;
    font-weight: bolder;
  }

  .About-logo {
    width: 100%;
    padding: 0%;
    margin: 0%;
  }

  .About-logo h2 {
    padding-top: 1em;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }

  .About-logo .event-image {
    width: 60vw;
    height: 300px;
    padding-top: 40px;
  }

  .About-logo .description,
  .About-logo .logo-detail {
    font-size: 22px;
    font-weight: 400;
    padding: 0 4em;
  }

  .About-logo .activities {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }

  .About-logo .activities .past-first-activity {
    margin: 0 auto;
  }

  .logo img {
    width: 100px;
    height: auto;
  }

  .second-activity-content,
  .first-activity-content {
    padding-top: 40px;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .second-activity-content p,
  .first-activity-content p {
    font-size: larger;
  }

  .partners ul li .fab {
    font-size: 70px;
    font-weight: bold;
    padding: 0 0.4em;
  }

  .rights p {
    font-size: larger;
    font-weight: 600;
  }

  .rights p .arabic {
    display: contents;
  }

  nav {
    margin: 0%;
  }

  .hide_me,
  .mobile_version {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .pop-off {
    display: none;
  }

  .content h3,
  .content p {
    font-size: 12px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=about.css.map */
