.About-logo {
  margin-top: 6em;
  height: 160vh;
  background-color: white;
  text-align: center;
  h2 {
    color: #555555;
    font-family: "Lato" sans-serif;
    font-size: x-large;
    text-align: center;
    font-weight: 500;
  }
  .slim {
    color: #e03421;
    width: 30px;
    margin: 0 auto;
  }

  .slim {
    border: 1px solid;
  }

  p {
    font-size: small;
    font-family: "Word Sans", sans-serif;
    color: #686868;
    padding: 2em 2em;
  }
  img {
    border: 1px solid #a09b9b;
    padding: 30px;
  }
  img {
    width: 200px;
  }
}
