
/* font for larger text */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

/* fonts for the small text */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
}
